:root {
  --colour-one: #72ce92;
  --colour-two: #F8333C;
  --colour-three: #FCAB10;
  --colour-four: #2B9EB3;
  --border-one: dashed 2px white;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  padding: 3%;
  background-color: #f2f2f2;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}


#Mee {
  display: flex;
  align-items: center;
  margin: 10px;
}


nav {
  background: #f2f2f2;
  text-align: left;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 10px; /* Adjusted padding for consistent size */
  margin: 0; /* Remove margin to minimize shifting */
  transition: background-color 0.3s, color 0.3s; /* Added transitions */
}

nav ul li a:hover {
  background: #333;
  color: #fff;
}

h1 {
  font-weight: bold;
  padding-left: 10px;
  letter-spacing: -2px;
  font-size: 24pt;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.13);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjusted minmax values */
  grid-gap: 20px;
}


#myName {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
  #profilePic {
    width: 100%;
    height: auto;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  nav ul li {
    display: block;
  }
}

.driftPic {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  transition: transform 0.5s;
  object-fit: cover;
  max-width: 100%;
}

figcaption {
  text-align: center;
}

figure {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}

#profilePic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#BIO {
  max-width: 600px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

li {
  list-style: none;
  color: #000000;
  text-decoration: none;
  padding: 10px;
}

li a:hover {
  background: #333;
  color: #fff;
  padding: 5px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100%) */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}