:root {
  --colour-one: #72ce92;
  --colour-two: #F8333C;
  --colour-three: #FCAB10;
  --colour-four: #2B9EB3;
  --border-one: dashed 2px white;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 1% 10%;
  border-width: 1%;
  padding: 3%;
  background-color: #f2f2f2;
}

#Mee {
  display: flex;
  justify-content: flex-start;
}

#profilePic {
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  transition: transform 0.5s;
}

#profilePic:hover {
  transform: rotate(180deg);
}

#bio {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: antiquewhite;
  line-height: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#about,
#interactiveProjects,
#audioVisual,
#CoverArt {
  background: #f2f2f2;
  padding: 15px;
}

nav {
  background: #f2f2f2;
  margin: 5px;
  padding: 5px;
  text-align: left;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 2px;
  padding: 2px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
}

nav ul li a:hover {
  background: #333;
  color: #fff;
}

h1 {
  border-style: none;
  font-weight: bold;
  padding: 10px 40px 10px 10px;
  margin: 5px;
  letter-spacing: -2px;
  font-size: 24pt;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.13);
}

h2 {
  padding: 10px 40px 10px 10px;
}

section {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding-left: 30px;
}

#CoverArt {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

#audioVisual {
  display: flex;
  justify-content: space-around;
}

.project iframe {
  max-width: 100%;
}

.project-image {
  max-width: 100%;
}

#myName {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 1em;
}

