
:root {
  --colour-one: #72ce92a8;
  --colour-two: #F8333C;
  --colour-three: #FCAB10;
  --colour-four: #2B9EB3;
  --border-one: dashed 2px white;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 1% 10%;
  border-width: 1%;
  padding: 3%;
  background-color: #f2f2f2;
}

#bio {
  padding: 10px;
  background-color: antiquewhite;
  line-height: 32px;
}

#about,
#interactiveProjects,
#audioVisual,
#CoverArt {
  background: #f2f2f2;
  padding: 5px;
}

nav {
  background: #f2f2f2;
  margin: 5px;
  padding: 5px;
  text-align: left;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 2px;
  padding: 2px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
}

nav ul li a:hover {
  background: #333;
  color: #fff;
}

h1 {
  border-style: none;
  font-weight: bold;
  padding: 10px 40px 10px 10px;
  margin: 5px;
  letter-spacing: -2px;
  font-size: 24pt;
}

h2 {
  padding: 10px 40px 10px 10px;
}

section {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#CoverArt {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align images from left */
  gap: 20px; /* Add space around the images */
}

.project iframe {
  max-width: 100%;
}

.project-image {
  max-width: 100%;
}
